@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0px 0px 0px 0px !important;
}
option {
  color: black;
  background: white;
}
button > i {
  pointer-events: none;
}

button:disabled,
input:disabled {
  opacity: 0.65;
  pointer-events: none;
  user-select: none;
}

option {
  background: white;
  color: black;
}

/*---------------ANIMACIONES LOADER---------------*/
.loader {
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  opacity: 0.8;
}
.loader::before {
  content: '{';
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader::after {
  content: '}';
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}
@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
.prlAnimation {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------------ESTILOS GENERALES---------------*/
::selection {
  color: white;
  background: #318dfd;
}
.txtInput {
  font-weight: bolder;
  letter-spacing: 1px;
}

/*---------------ESTILOS PARA EL SOMBREADO---------------*/
.shadowNav1 {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%);
}
.shadowNav2 {
  box-shadow: none;
}
@media (max-width: 725px) {
  .shadowNav1 {
    box-shadow: none;
  }
  .shadowNav2 {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 12%);
  }
}

/*---------------ESTILOS PARA EL SCROOL---------------*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .scroll::-webkit-scrollbar {
    width: 17px;
    height: 20px;
  }
  .scroll::-webkit-scrollbar-track {
    border-radius: 100vh;
  }
  .scrollLight::-webkit-scrollbar-thumb {
    background: #e0dcdc;
    border-radius: 100vh;
    border: 3px solid white;
  }
  .scrollDark::-webkit-scrollbar-thumb {
    background: rgb(31 41 55);
    border-radius: 100vh;
    border: 3px solid rgb(55 65 81);
  }
}

/*---------------CONJUNTO DE CLASES---------------*/
@layer components {
  .imageAdapted {
    @apply w-full h-full object-contain;
  }
  .elementsCenter {
    @apply flex items-center justify-center flex-col;
  }
  .verticalCenter {
    @apply flex items-center;
  }
}
